.container {
    --container-max-width: 70rem; // 76rem = 1216px
    --container-padding-inline: 1rem;
    width: min(var(--container-max-width), 100% - 2 * var(--container-padding-inline));
    margin: auto;
}
