@use "sass:color";

:root {
    --clr-blue-300: #4b6bfb;

    --clr-gray-100: #f6f6f7;
    --clr-gray-200: #e8e8ea;
    --clr-gray-400: #97989f;
    --clr-gray-500: #696a75;

    --bg-tag: var(--clr-blue-300);
    --bg-tag-inverted: #4b6bfb0d;
    --text-tag-inverted: var(--clr-blue-300);
    --border-post-card: var(--clr-gray-200);

    --text-author: var(--clr-gray-400);
    --clr-button: var(--clr-gray-400);

    --clr-footer-text: var(--clr-gray-500);
    --clr-bg-footer-section: var(--clr-gray-100);
    --clr-footer-copyright-section-border: var(--clr-gray-200);

    --clr-footer-form-input-border: var(--clr-gray-200);
    --clr-footer-form-button: var(--clr-blue-300);
}
